h1 {
    margin: auto;
    margin-bottom: 10px;
    width: 50%;
    padding: 10px;
    text-align: center;
    border: 3px solid black;
}

.list-links,
.top-5-list {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    border: 3px solid black;
    list-style-position: inside;
}

.list-links{
    list-style-type: none;
}

.card-image-row{
    margin: auto;
    width: fit-content;
}

img {
    height: auto;
    width: 250px;
}

.color-overview-text{
    margin: auto;
    width: 50%;
}