h1 {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    border: 3px solid black;
}

.list-links,
.top-5-list {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    border: 3px solid black;
    list-style-type: none;
}

img {
    padding: 10px;
    display: block;
    margin: auto;
    height: auto;
    width: 250px;
}